[package]
name = "rblog"
version = "0.254.0"
authors = ["Prabir Shrestha <mail@prabir.me>"]
edition = "2021"
license = "MIT"
description = "Blog app"
repository = "https://github.com/prabirshrestha/rblog"

build = "src/build.rs"
[build-dependencies]
ructe = { version = "0.16.1", features = ["sass", "mime03"] }

[dependencies]
anyhow = "1.0.70"
async-fs = "1.6.0"
chrono = { version = "0.4.24", features = ["serde"] }
dotenv = "0.15.0"
hyper = { version = "0.14.26", features = ["server"] }
listenfd = "1.0.1"
mime = "0.3.17"
mime_guess = "2.0.4"
pulldown-cmark = "0.9"
ructe = "0.16.1"
salvo = { version = "0.37.9", features = ["affix", "anyhow", "caching-headers", "compression", "logging", "trailing-slash"] }
serde = { version = "1.0.160", features = ["derive"] }
serde_yaml = "0.9.21"
slug = "0.1.4"
tokio = { version = "1.27.0" }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
