[package]
name = "rblog"
version = "0.101.0"
authors = ["Prabir Shrestha <mail@prabir.me>"]
edition = "2018"
license = "MIT"
description = "Blog app"
repository = "https://github.com/prabirshrestha/rblog"

build = "src/build.rs"
[build-dependencies]
ructe = { version = "0.13.0", features = ["sass", "mime03"] }

[dependencies]
anyhow = "1.0.38"
async-fs = "1.5.0"
chrono = { version = "0.4.19", features = ["serde"] }
comrak = "0.9.1"
dotenv = "0.15.0"
mime = "0.3.16"
mime_guess = "2.0.3"
pretty_env_logger = "0.4.0"
ructe = { version = "0.13.0" }
serde = { version = "1.0.123", features = ["derive"] }
serde_yaml = "0.8.17"
slug = "0.1.4"
trillium = "0.2.0"
trillium-conn-id = "0.2.0"
trillium-logger = "0.4.0"
trillium-router = "0.3.0"
trillium-ructe = "0.3.1"
trillium-smol = "0.2.0"
