[package]
name = "rblog"
version = "0.122.0"
authors = ["Prabir Shrestha <mail@prabir.me>"]
edition = "2021"
license = "MIT"
description = "Blog app"
repository = "https://github.com/prabirshrestha/rblog"

build = "src/build.rs"
[build-dependencies]
ructe = { version = "0.14.2", features = ["sass", "mime03"] }

[dependencies]
anyhow = "1.0.62"
async-fs = "1.5.0"
chrono = { version = "0.4.22", features = ["serde"] }
dotenv = "0.15.0"
mime = "0.3.16"
mime_guess = "2.0.4"
pretty_env_logger = "0.4.0"
pulldown-cmark = "0.9"
ructe = { version = "0.14.2" }
serde = { version = "1.0.143", features = ["derive"] }
serde_yaml = "0.9.4"
slug = "0.1.4"
trillium = "0.2.2"
trillium-caching-headers = "0.1.0"
trillium-compression = "0.1.0"
trillium-conn-id = "0.2.1"
trillium-logger = "0.4.0"
trillium-router = "0.3.3"
trillium-ructe = "0.4.0"
trillium-static = { version = "0.4.0", features = ["tokio"] }
trillium-tokio = "0.2.1"

[dev-dependencies]
trillium-testing = { version = "0.4.0", features = ["tokio"] }
