@use super::super::statics::*;
@()
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>404 Not Found</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" type="text/css" href="/assets/@style_css.name"/>
</head>
<body class="main">
  <main>
    <article>
      <header>
        <h1>Uh oh...</h1>
      </header>
      <section id="post-content">
        <p>We can't find the page you are looking for.</p>
        <p><a href="/">Go to homepage</a></p>
      </section>
    </article>
  </main>
</body>
</html>
