@use super::statics::*;
@(title: &str, content: Content)
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charSet="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>@title</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Mono">
        <link rel="stylesheet" type="text/css" href="/static/@style_css.name"/>
    </head>
    <body>
        <a href="/">Home</a><br/>
        <a href="/archives">Archives</a><br/>
        <a href="/rss">RSS</a><br/>

        @:content()
    </body>
</html>
