@use super::{base_html, disqus_html, giscus_html};
@use crate::blog::{Blog, Post};
@(blog: &Blog, post: &Post)

@:base_html(format!("{} - {}", post.get_metadata().get_title(), blog.get_blog_conf().get_title()).as_str(), blog, {
    <article>
        <header>
            <h1>@post.get_metadata().get_title()</h1>
            @if let Some(friendly_date) = post.get_metadata().get_friendly_date().as_ref() {
                @if let Some(datetime) = post.get_metadata().get_html_time_datetime().as_ref() {
                    <time datetime="@datetime">@friendly_date</time>
                }
            }
        </header>
        <section id="post-content">
            @Html(post.get_html_content())
        </section>
        <section>
            @:giscus_html(blog)
            @:disqus_html(blog)
        </section>
    </article>
})
