@use super::base_html;
@use crate::blog::Post;
@(post: &Post)

@:base_html("rblog", {
    <header class="article">
        <h1><a href="@post.get_url()">@post.get_metadata().get_title()</a></h1>
        @if let Some(subtitle) = post.get_metadata().get_subtitle().as_ref() {
            <h2>@subtitle</h2>
        }
        <div class="post-info">
			@if let Some(date) = post.get_metadata().get_friendly_date().as_ref() {
				<time datetime="@date">@date</time>
			}
        </div>
    </header>

    <article>
        @Html(post.get_html_content())
    </article>
})
