@use crate::blog::Blog;
@use crate::blog::Post;
@(blog: &Blog, posts: Vec<&Post>)
<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>@blog.get_blog_conf().get_title()</title>
		<link>TODO</link>
		<description><![CDATA[TODO]]></description>
		<atom:link href="/rss" rel="self" type="application/rss+xml"></atom:link>
        @for post in posts {
            <item>
                <title>@post.get_metadata().get_title()</title>
                <link>TODO</link>
				<description><![CDATA[@post.get_content()]]></description>
				<pubDate>TODO</pubDate>
				<guid>@post.get_url()</guid>
            </item>
        }
	</channel>
</rss>
